*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background: orangered;
    padding: 20px;
    text-align: center;
    margin-bottom: 10px;
    color: white;
}
nav{
    background: navy;
    padding: 20px;
    text-align: center;
    margin-bottom: 10px;
}
nav ul{
    list-style: none;
}
nav ul li{
    display: inline-block ;
    margin: 0 10px;
}
nav a{
    color: #fff;
    text-decoration: none;
}
section{
    display: flex;
    justify-content: space-between;

}
div{
    background: greenyellow;
    flex-basis: 60%;
    padding: 25px 30px;
}
aside{
    padding: 25px 30px;
    background: tomato;
    flex-basis: 38%;
}
aside ul{
    margin-left: 18px;
    margin-top: 10px;
}
footer{
    background: indigo ;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    color: white;
}
#site{
    background: dodgerblue;
    padding: 20px;
    text-align: center;
    margin-bottom: 10px;
    color: white;
    height: 300px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#site h1{
    font-size: 25px;
    margin-bottom: 10px;
}
#site a{
    background: indigo;
    color: #fff;
    display: inline-block;
    padding: 10px 25px;
    margin-top: 15px;
    text-decoration: none;
    border-radius: 10px;
}